@model The_Ride_You_Rent.models.Inspector

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inspector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InspectorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
