@model The_Ride_You_Rent.models.Driver

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DMobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DriverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
