@model IEnumerable<The_Ride_You_Rent.models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBodyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KmTravelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbody)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBodyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KmTravelled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake.CarMakeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbody.CarbodyId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
