@model The_Ride_You_Rent.models.Rental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.CarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.DriverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inspector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inspector.InspectorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RentalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
